html {
    min-height: 100%;
    height: 1px;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: proxima-nova, verdana, arial, helvetica, sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #0c1511;
    line-height: 20px;
    background: #ccc url("../assets/img/woods-blurred.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #959595;
}

a:hover {
    color: #34c9c6;
    text-decoration: none;
}

a:hover, a:active {
    outline: 0;
}

.international-link {
    font-size: 16px;
    width: 200px;
    margin: 0 auto;
}

.notified-link {
    cursor: pointer;
    color: #34c9c6;
}

.notified-link:hover {
    color: #959595;
}

.hidden {
    display: none;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul {
    list-style-type: none;
    margin-left: 0;
}

li {
    line-height: 20px;
}

img {
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.nmain {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nsidebar {
    max-width: 410px;
    width: 29%;
    height: 100%;
    float: left;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.14);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.14);
}

.sidebar-content {
    height: 100%;
    position: relative;
}

.download-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.title {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28px;
    margin-left: 9px;
}

.nnav {
    width: 100%;
    padding-bottom: 45px;
    bottom: 0;
    position: absolute;
    background-color: #fff;
}

.title-block {
    padding-top: 25px;
}

.logo {
    position: relative;
    width: 200px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.download-app-container {
    margin-top: 40px;
}

.download-container {
    width: 200px;
    height: 58px;
    cursor: pointer;
    margin: auto;
    padding: 5px 0;
}

.download-container img {
    display: block;
    width: 100%;
    height: 100%;
}

.download-app-button {
    width: 100%;
    height: 100%;
    display: block;
}

.nmain-container {
    width: 71%;
    height: 100%;
    float: right;
    overflow: hidden;
}

.iphone-window {
    position: relative;
    margin-top: 60px;
    width: 380px;
    height: 743px;
    float: left;
}

.iphone-window img {
    display: block;
    width: 100%;
    height: 100%;
}


.app-screenshot {
    display: block;
    width: 320px;
    height: 480px;
    background-repeat: no-repeat;
    position: absolute;
    top: 132px;
    left: 32px;
}

.callout-sub-text {
    font-size: 12px;
}

.dotted-line {
    display: none;
    position: absolute;
    top: 50%;
    height: 3px;
    background: transparent url("../assets/img/lineBlock.png") repeat-x;
    cursor: default;
    z-index: 10;
    border-color: red;
}

.active .dotted-line {
    display: block;
}

.dotted-line:before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: -10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 3px solid;
    border-color: inherit;
}

@media (min-width: 1350px) {
    .slider-code {
        margin-right: 70px !important;
    }
}

@media (min-width: 1200px) {
    html {
        overflow: hidden;
    }
    .iphone-window {
        left: 30%;
        margin-left: -190px;
    }
    .slider-code {
        margin-right: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .slider-code {
        margin-left: 34px;
    }
}

@media (max-width: 991px) {
    .nmain-container {
        overflow: visible;
    }

    .iphone-window, .action-pager {
        display: none;
    }

    .viewport {
        top: -230px;
    }

    .callout {
        background-color: #fff;
        opacity: 1;
    }

    .active .dotted-line {
        display: none;
    }
}

/* Sidebar in top, Phone + slider = 2 columns */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        overflow: scroll;
        margin: 0;
        padding: 0;
    }

    .nsidebar {
        width: 100%;
        max-width: 100%;
        height: 180px;
        padding-top: 10px;
    }

    .title {
        font-size: 22px;
    }

    .nnav {
        max-width: 30%;
        float: right;
        position: relative;
        top: 45%;
        transform: translateY(-50%);
        padding-bottom: 0;
    }

    .title-block {
        width: 30%;
        float: left;
        padding-top: 0;
        position: relative;
        top: 45%;
        margin-top: -15px;
    }

    .download-block {
        width: 40%;
        float: left;
        position: static;
        transform: none;
    }

    .download-app-container {
        margin-top: 5px;
    }

    .nmain-container {
        float: none;
        display: inline-block;
        width: auto;
        margin: 0 auto;
        height: 793px;
        padding: 10px 0;
    }
}

@media (max-width: 767px) {
    body {
        background: none;
        overflow: scroll;
    }

    body, .nmain, .nsidebar, .nmain-container {
        width: 100%;
    }

    .nsidebar {
        width: 100%;
        max-width: none;
        height: auto;
        float: none;
        z-index: 1000;
    }

    .download-block {
        position: static;
        transform: none;
        margin-top: 30px;
    }

    .download-app-container {
        margin-top: 20px;
    }

    .nnav {
        position: static;
        margin-top: 30px;
        padding-bottom: 20px;
    }

    .slider-code {
        float: none;
        display: inline-block;
        max-width: 90%;
    }

    .slider-code, .viewport, .overview {
        z-index: 99 !important;
    }

    .viewport {
        margin: 0 auto;
        top: -200px;
    }

    .overview {
        height: 350px !important;
    }

    .international-link {
        margin-bottom: 30px;
    }
}

@media (max-width: 360px) {
    .slider-code {
        max-width: none;
        display: block;
    }

    .viewport {
        width: 100%;
    }

    .callout {
        width: 286px;
    }
}