html {
    min-height: 100%;
    height: 1px;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    width: 100%;
    min-width: 370px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: proxima-nova, verdana, arial, helvetica, sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #0c1511;
    line-height: 20px;
    background: #ccc url("../assets/img/woods-blurred.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.download-app-container {
    margin-top: 40px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #959595;
}

a:hover {
    color: #34c9c6;
    text-decoration: none;
}

a:hover, a:active {
    outline: 0;
}

.international-link {
    font-size: 16px;
    width: 200px;
    margin: 0 auto;
}

.international-link .notified-link {
    cursor: pointer;
    color: #34c9c6;
}

.international-link .notified-link:hover {
    color: #959595;
}

.hidden {
    display: none;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px
}

ul {
    list-style-type: none;
    margin-left: 0
}

li {
    line-height: 20px;
}

img {
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

.iphone-container .iphone-window .app-screenshot img {
    width: 320px;
    height: 480px
}

.nmain {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

.nsidebar {
    max-width: 410px;
    width: 29%;
    height: 100%;
    float: left;
    position: relative;
    background: #fff;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.14);
}

.sidebar-content {
    height: 100%;
    position: relative;
}

.download-block {
    position: absolute;
    top: 30%;
    width: 100%;
}

.title {
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 28px;
    margin-left: 9px;
}

.nmain-container {
    width: 67%;
    height: 100%;
    float: right
}

.nnav {
    width: 100%;
    padding: 30px 0;
    margin-bottom: 40px;
    bottom: 0px;
    position: absolute;
    background-color: #fff;
}

.nnav .links li {
    padding-left: 8px;
}

.title-block {
    margin-top: 25px;
}

.logo {
    position: relative;
    width: 200px;
    height: 30px;
    padding: 0px;
    margin: 0 auto;
    padding-bottom: 60px;
    background-image: url("../assets/everest-logo-large.png");
    background-repeat: no-repeat;
}

.download-app-container .download-app-button {
    width: 229px;
    height: 61px;
    background-image: url("../assets/download.png");
    display: block;
    cursor: pointer;
    margin: auto;
}

.iphone-container .iphone-window {
    margin-top: 60px;
    background-image: url("../assets/img/smartphone3.png");
    display: block;
    width: 380px;
    height: 743px;
    float: left;
}

.iphone-container .iphone-window .app-screenshot {
    display: block;
    width: 320px;
    height: 480px;
    background-repeat: no-repeat;
    position: relative;
    top: 132px;
    left: 32px
}

.sub-text {
    font-size: 12px !important
}

@media (min-width: 1200px) {
    .nsidebar {
        overflow: hidden;
    }

}

/* Sidebar in top, Phone + slider = 2 columns */
@media (min-width: 780px) and (max-width: 1199px) {
    body {
        overflow: scroll;
        margin: 0;
        padding: 0
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0
    }

    .nsidebar {
        width: 100%;
        max-width: 100%;
        height: 180px;
        padding-top: 10px;
    }

    .logo {
        width: 200px;
        margin: 10px 20px;
        padding: 10px
    }

    .title {
        font-size: 22px
    }

    .nnav {
        max-width: 30%;
        float: right;
        position: relative;
        margin-top: 0;
        border-top: none
    }

    .nnav .links {
        float: none;
        font-size: 12px;
    }

    .nnav a {
        position: inherit;
        float: left
    }

    .title-block {
        display: block;
        width: 30%;
        float: left;
    }

    .download-block {
        display: block;
        width: 40%;
        float: left;
        position: static;
    }

    .download-app-container {
        margin: 5px auto
    }

    .download-app-container .download-app-button {
        max-width: 229px;
        width: auto
    }

    .nmain-container {
        width: 90% !important;
        max-width: 100%;
        margin: 0 auto;
        height: 793px;
        overflow: hidden;
        padding: 10px 30px;
    }
}

@media (min-width: 780px) and (max-width: 860px) {
    .nmain-container {
        float: none;
        width: 100% !important;
    }
}

/* Sidebar, Phone, slider = 1 column */
@media (min-width: 481px) and (max-width: 779px) {
    body {
        overflow: scroll;
    }

    body, .nmain, .nmain-container {
        width: 100% !important
    }

    .nsidebar {
        overflow: auto;
        height: 500px;
        float: none;
        width: 420px;
        margin: 0 auto
    }

    .sidebar-content {
        overflow: hidden;
    }

    .nnav {
        margin-bottom: 0;
    }

    .nmain-container {
        overflow: hidden;
    }

    .iphone-container {
        display: none;
    }

    .iphone-container .iphone-window, .slider-code {
        margin: auto;
        width: 380px;
        margin: 20px auto
    }

    .slider-code {
        margin-left: auto;
        float: none;
    }

    .slider-code .overview li .dotted-line {
        display: none
    }

}

@media (max-width: 480px) {
    body {
        background: none;
        width: 300px;
        overflow: scroll;
    }

    body, .container-fluid, .nmain, .nsidebar, .nmain-container {
        width: 100% !important
    }

    .nsidebar {
        overflow: auto;
        width: 100%;
        max-width: none;
        height: 500px;
        float: none;
        z-index: 1000;
    }

    .sidebar-content {
        overflow: hidden;
    }

    .iphone-container {
        display: none;
    }

    .iphone-container, .iphone-container .iphone-window {
        z-index: 9999 !important
    }

    .iphone-container .iphone-window, .slider-code {
        max-width: 90%;
        margin: auto
    }

    .slider-code {
        margin-left: auto;
        float: none;
    }

    .slider-code, .slider-code .viewport, ul.overview, ul.overview {
        z-index: 99 !important;
    }

    .slider-code .overview li .dotted-line {
        display: none
    }

    .viewport {
        float: none;
        margin: 0 auto;
    }

    ul.overview {
        height: 350px !important;
    }

    .international-link {
        margin-bottom: 30px
    }
}