.slider-code {
    height: 145px;
    float: right;
}

.viewport {
    width: 340px;
    height: 125px;
    overflow: visible;
    position: relative;
    float: left;
}

.disable {
    visibility: hidden;
}

.overview {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 230px;
}

.pusher {
    display: block;
    height: 300px;
}

.callout {
    width: 306px;
    position: relative;
    background: #fff;
    opacity: 0.5;
    margin-bottom: 60px;
    cursor: pointer;
    overflow: visible;
    padding-top: 35px;
    -webkit-box-shadow: 1px 1px 1px #666;
    -moz-box-shadow: 1px 1px 1px #666;
    -o-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}

.callout:after {
    content: "";
    clear: both;
    display: table;
}


.callout.active {
    background-color: #fff;
    opacity: 1
}

.callout-text {
    width: 235px;
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 30px;
}

.callout-main-text {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 16px;
}

.callout-sub-text {
    color: #666;
}

.icon {
    display: block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 1;
    left: -17px;
    top: 50%;
    margin-top: -18px;
    z-index: 20;
}

.icon.challenge {
    background-image: url("../assets/img/challenge.png");
}

.icon.dream {
    background-image: url("../assets/img/dream.png");
}

.icon.moment {
    background-image: url("../assets/img/moment.png");
}

.icon.note {
    background-image: url("../assets/img/note.png");
}

.icon.people {
    background-image: url("../assets/img/people.png");
}

.icon.step {
    background-image: url("../assets/img/step.png");
}

.icon.everest {
    background-image: url("../assets/logomark.png");
}

.action-pager {
    margin-top: 239px;
    list-style: none;
    float: left;
}

.pagenum {
    display: block;
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    margin-bottom: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pagenum.active {
    background-color: #fff;
}