.slider-code {
    display: inline-block;
    margin-top: 30px;
    z-index: 10;
}

.viewport {
    width: 320px;
    overflow: visible;
    position: relative;
}

.disable {
    visibility: hidden;
}

.overview {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.pusher {
    display: block;
    height: 300px;
}

.callout {
    width: 300px;
    position: relative;
    left: 20px;
    background: #fff;
    opacity: 0.5;
    margin-bottom: 60px;
    cursor: pointer;
    overflow: visible;
    padding-top: 35px;
    -webkit-box-shadow: 1px 1px 1px #666;
    -moz-box-shadow: 1px 1px 1px #666;
    -o-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}

.callout:after {
    content: "";
    clear: both;
    display: table;
}


.callout.active {
    background-color: #fff;
    opacity: 1
}

.callout-text {
    width: 235px;
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 30px;
}

.callout-main-text {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 16px;
}

.callout-sub-text {
    color: #666;
    font-size: 12px;
}

.icon {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -17px;
    top: 50%;
    margin-top: -18px;
    border-radius: 50%;
    z-index: 15;
}

.icon img {
    display: block;
    width: 100%;
    height: 100%;
}

.action-pager {
    margin-top: 239px;
    list-style: none;
    float: left;
}

.pagenum {
    display: block;
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    margin-bottom: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pagenum.active {
    background-color: #fff;
}